# Visualization and Modern Data Science

> Homework 2: Visualization and Modern Data Science, NTU, Spring, 2021.

Kuo, Yao-Jen <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('covid19.db')

## Write a query that is able to select all the columns and records from `daily_report`.

- Expected inputs：a query string.
- Expected outputs：a (3981, 7) result.

```
            Combined_Key          Last_Update  Confirmed  Deaths  Recovered  \
0            Afghanistan  2021-03-01 05:23:01      55714    2443      49333   
1                Albania  2021-03-01 05:23:01     107167    1796      69773   
2                Algeria  2021-03-01 05:23:01     113092    2983      78098   
3                Andorra  2021-03-01 05:23:01      10866     110      10446   
4                 Angola  2021-03-01 05:23:01      20807     508      19322   
...                  ...                  ...        ...     ...        ...   
3976             Vietnam  2021-03-01 05:23:01       2448      35       1876   
3977  West Bank and Gaza  2021-03-01 05:23:01     183612    2042     166936   
3978               Yemen  2021-03-01 05:23:01       2285     634       1435   
3979              Zambia  2021-03-01 05:23:01      78534    1091      74498   
3980            Zimbabwe  2021-03-01 05:23:01      36089    1463      32666   

      Incident_Rate  Case_Fatality_Ratio  
0        143.119379             4.384894  
1       3723.921051             1.675889  
2        257.900365             2.637676  
3      14063.288682             1.012332  
4         63.308070             2.441486  
...             ...                  ...  
3976       2.514933             1.429739  
3977    3599.235977             1.112128  
3978       7.661109            27.746171  
3979     427.187706             1.389207  
3980     242.812200             4.053867  

[3981 rows x 7 columns]
```

In [2]:
select_all_from_daily_report =\
"""
-- BEGIN SOLUTION
select * 
from daily_report
-- END SOLUTION
"""

## Write a query that is able to select four variables from `daily_report` as specified.

- Expected inputs：a query string.
- Expected outputs：a (3981, 4) result.

```
            Combined_Key  Confirmed  Deaths  Recovered
0            Afghanistan      55714    2443      49333
1                Albania     107167    1796      69773
2                Algeria     113092    2983      78098
3                Andorra      10866     110      10446
4                 Angola      20807     508      19322
...                  ...        ...     ...        ...
3976             Vietnam       2448      35       1876
3977  West Bank and Gaza     183612    2042     166936
3978               Yemen       2285     634       1435
3979              Zambia      78534    1091      74498
3980            Zimbabwe      36089    1463      32666

[3981 rows x 4 columns]
```

In [3]:
select_variables_from_daily_report =\
"""
-- BEGIN SOLUTION
select Combined_Key, Confirmed, Deaths, Recovered
From daily_report
-- END SOLUTION
"""

## Write a query that is able to find the records of Taiwan in `time_series`.

- Expected inputs：a query string.
- Expected outputs：a (404, 7) result.

```
    Province_State Country_Region        Date  Confirmed  Deaths  Daily_Cases  \
0           Taiwan         Taiwan  2020-01-22          1       0            1   
1           Taiwan         Taiwan  2020-01-23          1       0            0   
2           Taiwan         Taiwan  2020-01-24          3       0            2   
3           Taiwan         Taiwan  2020-01-25          3       0            0   
4           Taiwan         Taiwan  2020-01-26          4       0            1   
..             ...            ...         ...        ...     ...          ...   
399         Taiwan         Taiwan  2021-02-24        946       9            4   
400         Taiwan         Taiwan  2021-02-25        951       9            5   
401         Taiwan         Taiwan  2021-02-26        951       9            0   
402         Taiwan         Taiwan  2021-02-27        954       9            3   
403         Taiwan         Taiwan  2021-02-28        955       9            1   

     Daily_Deaths  
0               0  
1               0  
2               0  
3               0  
4               0  
..            ...  
399             0  
400             0  
401             0  
402             0  
403             0  

[404 rows x 7 columns]
```

In [4]:
find_taiwan_from_time_series =\
"""
-- BEGIN SOLUTION
select *
from time_series
where Country_Region = 'Taiwan'
-- END SOLUTION
"""

## Write a query that is able to find the records of Taiwan and the day of "+0" in `time_series`, selecting specified variables.

- Expected inputs：a query string.
- Expected outputs：a (162, 3) result.

```
    Country_Region        Date  Daily_Cases
0           Taiwan  2020-01-23            0
1           Taiwan  2020-01-25            0
2           Taiwan  2020-01-29            0
3           Taiwan  2020-02-01            0
4           Taiwan  2020-02-02            0
..             ...         ...          ...
157         Taiwan  2021-02-16            0
158         Taiwan  2021-02-21            0
159         Taiwan  2021-02-22            0
160         Taiwan  2021-02-23            0
161         Taiwan  2021-02-26            0

[162 rows x 3 columns]
```

In [5]:
find_taiwan_plus_zero_from_time_series =\
"""
-- BEGIN SOLUTION
select Country_Region, Date, Daily_Cases
from time_series
where Country_Region = 'Taiwan' AND Daily_Cases = 0
-- END SOLUTION
"""

## Write a query that is able to find the records of US in `daily_report`, selecting specified variables.

- Expected inputs：a query string.
- Expected outputs：a (3274, 3) result.

```
                 Combined_Key  Confirmed  Deaths
0        Autauga, Alabama, US       6264      91
1        Baldwin, Alabama, US      19732     283
2        Barbour, Alabama, US       2115      51
3           Bibb, Alabama, US       2450      60
4         Blount, Alabama, US       6097     127
...                       ...        ...     ...
3269       Teton, Wyoming, US       3351       9
3270       Uinta, Wyoming, US       2053      12
3271  Unassigned, Wyoming, US          0       0
3272    Washakie, Wyoming, US        881      26
3273      Weston, Wyoming, US        622       5

[3274 rows x 3 columns]
```

In [6]:
find_us_from_daily_report =\
"""
-- BEGIN SOLUTION
select Combined_Key, Confirmed, Deaths
from daily_report
where Combined_Key LIKE '%, US'
-- END SOLUTION
"""

## Write a query that is able to find the records of US(`Country_Region` equals to US) in `lookup_table`.

- Expected inputs：a query string.
- Expected outputs：a (3404, 10) result.

```
           UID                  Combined_Key iso2 iso3 Country_Region  \
0          840                            US   US  USA             US   
1           16            American Samoa, US   AS  ASM             US   
2          316                      Guam, US   GU  GUM             US   
3          580  Northern Mariana Islands, US   MP  MNP             US   
4          850            Virgin Islands, US   VI  VIR             US   
...        ...                           ...  ...  ...            ...   
3399  84056037       Sweetwater, Wyoming, US   US  USA             US   
3400  84056039            Teton, Wyoming, US   US  USA             US   
3401  84056041            Uinta, Wyoming, US   US  USA             US   
3402  84056043         Washakie, Wyoming, US   US  USA             US   
3403  84056045           Weston, Wyoming, US   US  USA             US   

                Province_State      Admin2        Lat       Long_   Population  
0                         None        None  40.000000 -100.000000  329466283.0  
1               American Samoa        None -14.271000 -170.132000      55641.0  
2                         Guam        None  13.444300  144.793700     164229.0  
3     Northern Mariana Islands        None  15.097900  145.673900      55144.0  
4               Virgin Islands        None  18.335800  -64.896300     107268.0  
...                        ...         ...        ...         ...          ...  
3399                   Wyoming  Sweetwater  41.659439 -108.882788      42343.0  
3400                   Wyoming       Teton  43.935225 -110.589080      23464.0  
3401                   Wyoming       Uinta  41.287818 -110.547578      20226.0  
3402                   Wyoming    Washakie  43.904516 -107.680187       7805.0  
3403                   Wyoming      Weston  43.839612 -104.567488       6927.0  

[3404 rows x 10 columns]
```

In [7]:
find_us_from_lookup_table =\
"""
-- BEGIN SOLUTION
select *
from lookup_table
where Country_Region = 'US'
-- END SOLUTION
"""

## Write a query that is able to aggregate the number of total confirmed, total deaths and total recovered worldwide as of 2021-02-28 in `daily_report`. Aliasing the column names as specified.

- Expected inputs：a query string.
- Expected outputs：a (1, 3) result.

```
   total_confirmed  total_deaths  total_recovered
0        114177059       2532456         64418462
```

In [8]:
aggregate_totals_from_daily_report =\
"""
-- BEGIN SOLUTION
select sum(confirmed) as total_confirmed, sum(deaths) as total_deaths, sum(recovered) as total_recovered
from daily_report
-- END SOLUTION
"""

## Write a query that is able to extract the countries with province records in `time_series`. Sorting the result with ascending order.

PS You may use the condition `Country_Region != Province_State`

- Expected inputs：a query string.
- Expected outputs：a (7, 1) result.

```
  countries_with_province_record
0                      Australia
1                         Canada
2                          China
3                        Denmark
4                         France
5                    Netherlands
6                 United Kingdom
```

In [9]:
find_countries_with_province_records_in_time_series =\
"""
-- BEGIN SOLUTION
select DISTINCT Country_Region AS countries_with_province_record
from time_series
where Country_Region != Province_State
order by countries_with_province_record ASC
-- END SOLUTION
"""

## Write a query that is able to find the largest daily case for each country in `time_series`. Sorting the result with descending order.

- Expected inputs：a query string.
- Expected outputs：a (192, 3) result.

```
       Country_Region        Date  largest_daily_cases
0              Turkey  2020-12-10               823225
1                  US  2021-01-02               300416
2              France  2020-11-02               104314
3               India  2020-09-16                97894
4               Spain  2021-01-25                93822
..                ...         ...                  ...
187   Solomon Islands  2020-11-02                    5
188  Marshall Islands  2020-11-17                    3
189        Micronesia  2021-01-21                    1
190             Samoa  2020-11-18                    1
191           Vanuatu  2020-11-10                    1

[192 rows x 3 columns]
```

In [10]:
find_largest_daily_case_by_country_in_time_series =\
"""
select Country_Region, Date, MAX(daily_cases) AS largest_daily_cases
from time_series
group by Country_Region
order by largest_daily_cases DESC
-- END SOLUTION
"""

## Write a query that is able to find the dates when daily cases for each country exceed 10000 in `time_series`. Sorting the result with descending order.

- Expected inputs：a query string.
- Expected outputs：a (2273, 3) result.

```
      Country_Region        Date  daily_cases_by_country
0             Turkey  2020-12-10                  823225
1                 US  2021-01-02                  300416
2                 US  2021-01-08                  293247
3                 US  2021-01-07                  278065
4                 US  2021-01-09                  262657
...              ...         ...                     ...
2268  United Kingdom  2021-02-25                   10020
2269           Italy  2020-10-16                   10009
2270    South Africa  2020-12-16                   10008
2271          Mexico  2021-01-10                   10003
2272     Switzerland  2020-12-21                   10002

[2273 rows x 3 columns]
```

In [11]:
find_large_daily_case_by_country_in_time_series =\
"""
-- BEGIN SOLUTION
select Country_Region, Date, Sum(daily_cases) AS daily_cases_by_country
from time_series
group by DATE, Country_Region
having daily_cases_by_country > 10000
order by daily_cases_by_country DESC
-- END SOLUTION
"""

## Run tests！

Kernel -> Restart & Run All.

In [12]:
class TestHomeworkTwo(unittest.TestCase):
    def test_01_select_all_from_daily_report(self):
        all_from_daily_report = pd.read_sql(select_all_from_daily_report, conn)
        self.assertEqual(all_from_daily_report.shape, (3981, 7))
    def test_02_select_variables_from_daily_report(self):
        variables_from_daily_report = pd.read_sql(select_variables_from_daily_report, conn)
        self.assertEqual(variables_from_daily_report.shape, (3981, 4))
        np.testing.assert_equal(variables_from_daily_report.columns,
                               np.array(['Combined_Key', 'Confirmed', 'Deaths', 'Recovered']))
    def test_03_find_taiwan_from_time_series(self):
        taiwan_from_time_series = pd.read_sql(find_taiwan_from_time_series, conn)
        self.assertEqual(taiwan_from_time_series.shape, (404, 7))
        np.testing.assert_equal(taiwan_from_time_series['Country_Region'].unique(),
                               np.array(['Taiwan']))
    def test_04_find_taiwan_plus_zero_from_time_series(self):
        taiwan_plus_zero_from_time_series = pd.read_sql(find_taiwan_plus_zero_from_time_series, conn)
        self.assertEqual(taiwan_plus_zero_from_time_series.shape, (162, 3))
        np.testing.assert_equal(taiwan_plus_zero_from_time_series.columns,
                               np.array(['Country_Region', 'Date', 'Daily_Cases']))
        np.testing.assert_equal(taiwan_plus_zero_from_time_series['Daily_Cases'].sum(), 0)
    def test_05_find_us_from_daily_report(self):
        us_from_daily_report = pd.read_sql(find_us_from_daily_report, conn)
        self.assertEqual(us_from_daily_report.shape, (3274, 3))
        np.testing.assert_equal(us_from_daily_report.columns,
                               np.array(['Combined_Key', 'Confirmed', 'Deaths']))
    def test_06_find_us_from_lookup_table(self):
        us_from_lookup_table = pd.read_sql(find_us_from_lookup_table, conn)
        self.assertEqual(us_from_lookup_table.shape, (3404, 10))
        np.testing.assert_equal(us_from_lookup_table['Country_Region'].unique(),
                               'US')
    def test_07_aggregate_totals_from_daily_report(self):
        totals_from_daily_report = pd.read_sql(aggregate_totals_from_daily_report, conn)
        self.assertEqual(totals_from_daily_report.shape, (1, 3))
        np.testing.assert_equal(totals_from_daily_report.columns,
                               np.array(['total_confirmed', 'total_deaths', 'total_recovered']))
    def test_08_find_countries_with_province_records_in_time_series(self):
        countries_with_province_records_in_time_series = pd.read_sql(find_countries_with_province_records_in_time_series, conn)
        self.assertEqual(countries_with_province_records_in_time_series.shape, (7, 1))
        superset = set(countries_with_province_records_in_time_series.values.ravel())
        self.assertTrue({'Australia', 'Canada', 'Denmark', 'Netherlands'}.issubset(superset))
    def test_09_find_largest_daily_case_by_country_in_time_series(self):
        largest_daily_case_by_country_in_time_series = pd.read_sql(find_largest_daily_case_by_country_in_time_series, conn)
        self.assertEqual(largest_daily_case_by_country_in_time_series.shape, (192, 3))
        np.testing.assert_equal(largest_daily_case_by_country_in_time_series['Country_Region'].values[:5],
                        np.array(['Turkey', 'US', 'France', 'India', 'Spain']))
    def test_10_find_large_daily_case_by_country_in_time_series(self):
        large_daily_case_by_country_in_time_series = pd.read_sql(find_large_daily_case_by_country_in_time_series, conn)
        self.assertEqual(large_daily_case_by_country_in_time_series.shape, (2273, 3))
        np.testing.assert_equal(large_daily_case_by_country_in_time_series['Country_Region'].values[:5],
                        np.array(['Turkey', 'US', 'US', 'US', 'US']))
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestHomeworkTwo)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_01_select_all_from_daily_report (__main__.TestHomeworkTwo) ... ok
test_02_select_variables_from_daily_report (__main__.TestHomeworkTwo) ... ok
test_03_find_taiwan_from_time_series (__main__.TestHomeworkTwo) ... ok
test_04_find_taiwan_plus_zero_from_time_series (__main__.TestHomeworkTwo) ... ok
test_05_find_us_from_daily_report (__main__.TestHomeworkTwo) ... ok
test_06_find_us_from_lookup_table (__main__.TestHomeworkTwo) ... ok
test_07_aggregate_totals_from_daily_report (__main__.TestHomeworkTwo) ... ok
test_08_find_countries_with_province_records_in_time_series (__main__.TestHomeworkTwo) ... ok
test_09_find_largest_daily_case_by_country_in_time_series (__main__.TestHomeworkTwo) ... ok
test_10_find_large_daily_case_by_country_in_time_series (__main__.TestHomeworkTwo) ... ok

----------------------------------------------------------------------
Ran 10 tests in 0.412s

OK

In [13]:
print("You've got {} successes among {} questions.".format(number_of_successes, number_of_test_runs))

You've got 10 successes among 10 questions.