# Visualization and Modern Data Science

> Homework 3: Visualization and Modern Data Science, NTU, Spring, 2021.

Kuo, Yao-Jen <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('imdb.db')

## Write a query that is able to reclassify movies according to `release_year`, to recode `release_year >= 2000` with 1 otherwise with 0. 

- Expected inputs：a query string.
- Expected outputs：a (2, 2) result.

```
   after_millennium  number_of_movies
0                 0               149
1                 1               101
```

In [2]:
reclassify_movies_on_release_year =\
"""
-- BEGIN SOLUTION
select CASE WHEN release_year >= 2000 THEN 1 ELSE 0 END AS after_millennium , count(*) AS number_of_movies 
from movies
GROUP BY after_millennium;
-- END SOLUTION
"""

## Write a query that is able to reclassify movies according to `rating`, to recode `rating >= 8.6` with 'Awesome', `rating >= 8.3` with 'Terrific' otherwise with 'Great' as specified. 

- Expected inputs：a query string.
- Expected outputs：a (3, 2) result.

```
  rating_category  number_of_movies
0         Awesome                31
1           Great               127
2        Terrific                92
```

In [3]:
reclassify_movies_on_rating =\
"""
-- BEGIN SOLUTION
select CASE WHEN rating >= 8.6 THEN 'Awesome' 
            WHEN rating < 8.3 THEN 'Great' ELSE 'Terrific' END AS rating_category , count(*) AS number_of_movies 
from movies
GROUP BY rating_category;
-- END SOLUTION
"""

## Write a query that is able to find the shortest/longest movie according to `runtime`. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (2, 6) result.

```
    id               title  release_year  rating        director  runtime
0  195        Sherlock Jr.          1924     8.2   Buster Keaton       45
1  229  Gangs of Wasseypur          2012     8.2  Anurag Kashyap      321
```

In [4]:
find_shortest_longest_movies =\
"""
-- BEGIN SOLUTION
select * 
from movies
where runtime = (select min(runtime) from movies)
UNION
select * 
from movies
where runtime = (select max(runtime) from movies);
-- END SOLUTION
"""

## Write a query that is able to find the oldest/lastest movie according to `release_year`. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (2, 6) result.

```
    id                         title  release_year  rating         director  \
0   99                       The Kid          1921     8.3  Charles Chaplin   
1  167  Zack Snyder's Justice League          2021     8.3      Zack Snyder   

   runtime  
0       68  
1      242 
```

In [5]:
find_oldest_latest_movies =\
"""
-- BEGIN SOLUTION
select * 
from movies
where release_year = (select min(release_year) from movies)
UNION
select * 
from movies
where release_year = (select max(release_year) from movies);
-- END SOLUTION
"""

## Write a query that is able to show the number of movies directed by each director according to `director`. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (157, 2) result.

```
              director  number_of_movies
0    Christopher Nolan                 7
1      Martin Scorsese                 7
2      Stanley Kubrick                 7
3       Akira Kurosawa                 6
4     Alfred Hitchcock                 6
..                 ...               ...
152       Yasujirô Ozu                 1
153       Yavuz Turgul                 1
154        Zack Snyder                 1
155     Zaza Urushadze                 1
156        Çagan Irmak                 1

[157 rows x 2 columns]
```

In [6]:
count_movies_by_director =\
"""
-- BEGIN SOLUTION
select director , count(*) AS number_of_movies
From movies
Group by director
Order by number_of_movies DESC;
-- END SOLUTION
"""

## Based on the previous query result, write a query that is able to extract the movies directed by directors with over 3 movies (`>3`) on the top 250 rated movies. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (71, 2) result.

```
            director                                          title
0     Akira Kurosawa                                  Seven Samurai
1     Akira Kurosawa                                   High and Low
2     Akira Kurosawa                                          Ikiru
3     Akira Kurosawa                                        Yojimbo
4     Akira Kurosawa                                       Rashomon
..               ...                                            ...
66  Steven Spielberg                            Saving Private Ryan
67  Steven Spielberg  Indiana Jones and the Raiders of the Lost Ark
68  Steven Spielberg             Indiana Jones and the Last Crusade
69  Steven Spielberg                                  Jurassic Park
70  Steven Spielberg                            Catch Me If You Can

[71 rows x 2 columns]
```

In [7]:
filter_movies_by_top_rated_directors =\
"""
-- BEGIN SOLUTION
select movies.director AS director , title 
from movies
inner join (
select director , count(*) AS number_of_movies
from (select * From movies order by rating DESC limit 250)
Group by director
HAVING number_of_movies > 3
order by number_of_movies DESC) AS t
ON movies.director = t.director 
order by movies.director;
-- END SOLUTION
"""

## Write a query that is able to find the casting of The Shawshank Redemption with sub-queries. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (15, 1) result.

```
                 name
0          Bob Gunton
1         Brian Libby
2        Clancy Brown
3        David Proval
4         Gil Bellows
5      James Whitmore
6      Jeffrey DeMunn
7        Joseph Ragno
8     Jude Ciccolella
9   Larry Brandenburg
10       Mark Rolston
11     Morgan Freeman
12      Neil Giuntoli
13        Tim Robbins
14     William Sadler
```

In [8]:
find_the_shawshank_redemption_casting_with_sub_query =\
"""
-- BEGIN SOLUTION
select name
from (select actor_id from casting
where movie_id = (select id from movies where title = 'The Shawshank Redemption')) as new
left join actors on new.actor_id = actors.id
order by name ASC;
-- END SOLUTION
"""

## Write a query that is able to find the casting of The Shawshank Redemption with `JOIN`. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (15, 3) result.

```
                       title  ord               name
0   The Shawshank Redemption    1        Tim Robbins
1   The Shawshank Redemption    2     Morgan Freeman
2   The Shawshank Redemption    3         Bob Gunton
3   The Shawshank Redemption    4     William Sadler
4   The Shawshank Redemption    5       Clancy Brown
5   The Shawshank Redemption    6        Gil Bellows
6   The Shawshank Redemption    7       Mark Rolston
7   The Shawshank Redemption    8     James Whitmore
8   The Shawshank Redemption    9     Jeffrey DeMunn
9   The Shawshank Redemption   10  Larry Brandenburg
10  The Shawshank Redemption   11      Neil Giuntoli
11  The Shawshank Redemption   12        Brian Libby
12  The Shawshank Redemption   13       David Proval
13  The Shawshank Redemption   14       Joseph Ragno
14  The Shawshank Redemption   15    Jude Ciccolella
```

In [9]:
find_the_shawshank_redemption_casting_with_join =\
"""
-- BEGIN SOLUTION
select title, ord , name from movies as m
left join casting on m.id = casting.movie_id
left join actors on casting.actor_id = actors.id
where title = 'The Shawshank Redemption'
order by ord ASC
-- END SOLUTION
"""

## Write a query that is able to find the movies starred by Tom Hanks or Leonardo DiCaprio.

- Expected inputs：a query string.
- Expected outputs：a (12, 3) result.

```
                      title  ord               name
0       Catch Me If You Can    1  Leonardo DiCaprio
1          Django Unchained    3  Leonardo DiCaprio
2                 Inception    1  Leonardo DiCaprio
3            Shutter Island    1  Leonardo DiCaprio
4              The Departed    1  Leonardo DiCaprio
5   The Wolf of Wall Street    1  Leonardo DiCaprio
6       Catch Me If You Can    2          Tom Hanks
7              Forrest Gump    1          Tom Hanks
8       Saving Private Ryan    1          Tom Hanks
9            The Green Mile    1          Tom Hanks
10                Toy Story    1          Tom Hanks
11              Toy Story 3    1          Tom Hanks
```

In [10]:
find_movies_starred_by_tom_hanks_or_leonardo_dicaprio =\
"""
-- BEGIN SOLUTION
select title, ord , name from movies as m
left join casting on m.id = casting.movie_id
left join actors on casting.actor_id = actors.id
where name = 'Tom Hanks' OR name = 'Leonardo DiCaprio'
order by title , name ASC;
-- END SOLUTION
"""

## Write a query that is able to find the movies starred by Leonardo DiCaprio and directed by Christopher Nolan.

- Expected inputs：a query string.
- Expected outputs：a (1, 4) result.

```
       title  release_year           director         lead_actor
0  Inception          2010  Christopher Nolan  Leonardo DiCaprio
```

In [11]:
find_movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan =\
"""
-- BEGIN SOLUTION
select title, release_year , director , name AS lead_actor from movies as m
left join casting on m.id = casting.movie_id
left join actors on casting.actor_id = actors.id
where director = 'Christopher Nolan' AND name = 'Leonardo DiCaprio';
-- END SOLUTION
"""

## Run tests！

Kernel -> Restart & Run All -> Restart and Run All Cells.

In [12]:
class TestHomeworkThree(unittest.TestCase):
    def test_01_reclassify_movies_on_release_year(self):
        movies_on_release_year = pd.read_sql(reclassify_movies_on_release_year, conn)
        self.assertEqual(movies_on_release_year.shape, (2, 2))
        column_values = movies_on_release_year.iloc[:, 0].values
        np.testing.assert_equal(column_values, np.array([0, 1]))
        column_values = movies_on_release_year.iloc[:, 1].values
        np.testing.assert_equal(column_values, np.array([149, 101]))
    def test_02_reclassify_movies_on_rating(self):
        movies_on_rating = pd.read_sql(reclassify_movies_on_rating, conn)
        self.assertEqual(movies_on_rating.shape, (3, 2))
        categories = movies_on_rating.iloc[:, 0].values
        self.assertTrue('Awesome' in categories)
        self.assertTrue('Great' in categories)
        self.assertTrue('Terrific' in categories)
    def test_03_find_shortest_longest_movies(self):
        shortest_longest_movies = pd.read_sql(find_shortest_longest_movies, conn)
        self.assertEqual(shortest_longest_movies.shape, (2, 6))
        titles = shortest_longest_movies.iloc[:, 1].values
        self.assertTrue('Sherlock Jr.' in titles)
        self.assertTrue('Gangs of Wasseypur' in titles)
    def test_04_find_oldest_latest_movies(self):
        oldest_latest_movies = pd.read_sql(find_oldest_latest_movies, conn)
        self.assertEqual(oldest_latest_movies.shape, (2, 6))
        titles = oldest_latest_movies.iloc[:, 1].values
        self.assertTrue('The Kid' in titles)
        self.assertTrue('Zack Snyder\'s Justice League' in titles)
    def test_05_count_movies_by_director(self):
        movies_by_director = pd.read_sql(count_movies_by_director, conn)
        self.assertEqual(movies_by_director.shape, (157, 2))
        directors = movies_by_director.iloc[:, 0].values
        self.assertTrue('Christopher Nolan' in directors)
        self.assertTrue('Alfred Hitchcock' in directors)
    def test_06_filter_movies_by_top_rated_directors(self):
        movies_by_top_rated_directors = pd.read_sql(filter_movies_by_top_rated_directors, conn)
        self.assertEqual(movies_by_top_rated_directors.shape, (71, 2))
        directors = set(movies_by_top_rated_directors.iloc[:, 0].values)
        self.assertTrue('Akira Kurosawa' in directors)
        self.assertTrue('Steven Spielberg' in directors)
        titles = movies_by_top_rated_directors.iloc[:, 1].values
        self.assertTrue('Saving Private Ryan' in titles)
        self.assertTrue('Jurassic Park' in titles)
        self.assertTrue('Catch Me If You Can' in titles)
    def test_07_find_the_shawshank_redemption_casting_with_sub_query(self):
        the_shawshank_redemption_casting_with_sub_query = pd.read_sql(find_the_shawshank_redemption_casting_with_sub_query, conn)
        self.assertEqual(the_shawshank_redemption_casting_with_sub_query.shape, (15, 1))
        names = the_shawshank_redemption_casting_with_sub_query.iloc[:, 0].values
        self.assertTrue('Tim Robbins' in names)
        self.assertTrue('Morgan Freeman' in names)
    def test_08_find_the_shawshank_redemption_casting_with_join(self):
        the_shawshank_redemption_casting_with_join = pd.read_sql(find_the_shawshank_redemption_casting_with_join, conn)
        self.assertEqual(the_shawshank_redemption_casting_with_join.shape, (15, 3))
        names = the_shawshank_redemption_casting_with_join.iloc[:, 2].values
        self.assertTrue('Tim Robbins' in names)
        self.assertTrue('Morgan Freeman' in names)
    def test_09_find_movies_starred_by_tom_hanks_or_leonardo_dicaprio(self):
        movies_starred_by_tom_hanks_or_leonardo_dicaprio = pd.read_sql(find_movies_starred_by_tom_hanks_or_leonardo_dicaprio, conn)
        self.assertEqual(movies_starred_by_tom_hanks_or_leonardo_dicaprio.shape, (12, 3))
        names = movies_starred_by_tom_hanks_or_leonardo_dicaprio.iloc[:, 2].values
        self.assertTrue('Tom Hanks' in names)
        self.assertTrue('Leonardo DiCaprio' in names)
    def test_10_find_movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan(self):
        movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan = pd.read_sql(find_movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan, conn)
        self.assertEqual(movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan.shape, (1, 4))
        titles = movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan.iloc[:, 0].values
        self.assertTrue('Inception' in titles)
        directors = movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan.iloc[:, 2].values
        self.assertTrue('Christopher Nolan' in directors)
        actors = movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan.iloc[:, 3].values
        self.assertTrue('Leonardo DiCaprio' in actors)
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestHomeworkThree)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_01_reclassify_movies_on_release_year (__main__.TestHomeworkThree) ... ok
test_02_reclassify_movies_on_rating (__main__.TestHomeworkThree) ... ok
test_03_find_shortest_longest_movies (__main__.TestHomeworkThree) ... ok
test_04_find_oldest_latest_movies (__main__.TestHomeworkThree) ... ok
test_05_count_movies_by_director (__main__.TestHomeworkThree) ... ok
test_06_filter_movies_by_top_rated_directors (__main__.TestHomeworkThree) ... ok
test_07_find_the_shawshank_redemption_casting_with_sub_query (__main__.TestHomeworkThree) ... ok
test_08_find_the_shawshank_redemption_casting_with_join (__main__.TestHomeworkThree) ... ok
test_09_find_movies_starred_by_tom_hanks_or_leonardo_dicaprio (__main__.TestHomeworkThree) ... ok
test_10_find_movies_starred_by_leonardo_dicaprio_and_directed_by_christoper_nolan (__main__.TestHomeworkThree) ... ok

----------------------------------------------------------------------
Ran 10 tests in 0.163s

OK

In [13]:
print("You've got {} successes among {} questions.".format(number_of_successes, number_of_test_runs))

You've got 10 successes among 10 questions.