# Visualization and Modern Data Science

> Midterm A: Visualization and Modern Data Science, NTU, Spring, 2021.

Kuo, Yao-Jen <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

## Instructions

- We've imported necessary modules/libraries and connected databases at the beginning of exercise.
- We've defined the name of each query for you.
- Write down your solution between the comments `-- BEGIN SOLUTION` and `-- END SOLUTION`.
- Running tests to see if your solutions are right: Kernel -> Restart & Run All -> Restart and Run All Cells.
- You can run tests after each question or after finishing all questions.
- REMEMBER to upload your `.ipynb` file to CEIBA when you are done running tests.

In [1]:
import sqlite3
import unittest
import numpy as np
import pandas as pd
conn = sqlite3.connect('imdb.db')
conn.execute("""ATTACH 'covid19.db' AS covid19""")
conn.execute("""ATTACH 'nba.db' AS nba""")

## 01. Write a query that is able to summarize `daily_report` by countries as specified. 

- Expected inputs：a query string.
- Expected outputs：a (192, 3) result.

```
       Country_Region  sum_confirmed  sum_deaths
0                  US       30459802      552037
1              Brazil       12748747      321515
2               India       12149335      162468
3              France        4705068       95798
4              Russia        4494234       97219
..                ...            ...         ...
187        MS Zaandam              9           2
188  Marshall Islands              4           0
189             Samoa              3           0
190           Vanuatu              3           0
191        Micronesia              1           0

[192 rows x 3 columns]
```

In [2]:
summarize_daily_report_by_countries =\
"""
-- BEGIN SOLUTION
select l.Country_region, SUM(d.Confirmed) AS sum_confirmed, SUM(d.Deaths) AS sum_deaths
from daily_report AS d
Join lookup_table AS l ON d.Combined_Key = l.Combined_Key
Group by l.Country_Region
Order by sum_confirmed DESC;
-- END SOLUTION
"""

## 02. Write a query that is able to show the top 20 confirmed states of US from `daily_report` as specified.

- Expected inputs：a query string.
- Expected outputs：a (20, 4) result.

```
   iso3  Province_State  sum_confirmed  sum_deaths
0   USA      California        3668277       59240
1   USA           Texas        2791910       48252
2   USA         Florida        2057735       33425
3   USA        New York        1873138       50299
4   USA        Illinois        1244499       23579
5   USA         Georgia        1059548       19055
6   USA    Pennsylvania        1027678       25074
7   USA            Ohio        1017566       18609
8   USA  North Carolina         914132       12112
9   USA      New Jersey         908816       24561
10  USA         Arizona         841811       16967
11  USA       Tennessee         811842       11904
12  USA        Michigan         746351       17119
13  USA         Indiana         686497       13039
14  USA       Wisconsin         636041        7315
15  USA   Massachusetts         635580       17185
16  USA        Virginia         618976       10252
17  USA        Missouri         581680        8853
18  USA  South Carolina         551630        9146
19  USA       Minnesota         519529        6926
```

In [3]:
summarize_daily_report_of_us_by_states =\
"""
-- BEGIN SOLUTION
select iso3 , Province_State , SUM(Confirmed) AS sum_confirmed , SUM(Deaths) AS sum_deaths
from daily_report AS d
Join lookup_table AS l ON d.Combined_Key = l.Combined_Key
WHERE l.iso3 = "USA"
GROUP BY Province_State
ORDER by sum_confirmed DESC
limit 20;
-- END SOLUTION
"""

## 03. Write a query that is able to find the casting actors/actress of "Batman Trilogy", show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (45, 4) result.

```
             director trilogy                  title               actor_name
0   Christopher Nolan      01          Batman Begins           Christian Bale
1   Christopher Nolan      01          Batman Begins            Michael Caine
2   Christopher Nolan      01          Batman Begins              Liam Neeson
3   Christopher Nolan      01          Batman Begins             Katie Holmes
4   Christopher Nolan      01          Batman Begins              Gary Oldman
5   Christopher Nolan      01          Batman Begins           Cillian Murphy
6   Christopher Nolan      01          Batman Begins            Tom Wilkinson
7   Christopher Nolan      01          Batman Begins             Rutger Hauer
8   Christopher Nolan      01          Batman Begins             Ken Watanabe
9   Christopher Nolan      01          Batman Begins        Mark Boone Junior
10  Christopher Nolan      01          Batman Begins             Linus Roache
11  Christopher Nolan      01          Batman Begins           Morgan Freeman
12  Christopher Nolan      01          Batman Begins             Larry Holden
13  Christopher Nolan      01          Batman Begins            Gerard Murphy
14  Christopher Nolan      01          Batman Begins          Colin McFarlane
15  Christopher Nolan      02        The Dark Knight           Christian Bale
16  Christopher Nolan      02        The Dark Knight             Heath Ledger
17  Christopher Nolan      02        The Dark Knight            Aaron Eckhart
18  Christopher Nolan      02        The Dark Knight            Michael Caine
19  Christopher Nolan      02        The Dark Knight        Maggie Gyllenhaal
20  Christopher Nolan      02        The Dark Knight              Gary Oldman
21  Christopher Nolan      02        The Dark Knight           Morgan Freeman
22  Christopher Nolan      02        The Dark Knight  Monique Gabriela Curnen
23  Christopher Nolan      02        The Dark Knight                 Ron Dean
24  Christopher Nolan      02        The Dark Knight           Cillian Murphy
25  Christopher Nolan      02        The Dark Knight                 Chin Han
26  Christopher Nolan      02        The Dark Knight         Nestor Carbonell
27  Christopher Nolan      02        The Dark Knight             Eric Roberts
28  Christopher Nolan      02        The Dark Knight           Ritchie Coster
29  Christopher Nolan      02        The Dark Knight     Anthony Michael Hall
30  Christopher Nolan      03  The Dark Knight Rises           Christian Bale
31  Christopher Nolan      03  The Dark Knight Rises              Gary Oldman
32  Christopher Nolan      03  The Dark Knight Rises                Tom Hardy
33  Christopher Nolan      03  The Dark Knight Rises     Joseph Gordon-Levitt
34  Christopher Nolan      03  The Dark Knight Rises            Anne Hathaway
35  Christopher Nolan      03  The Dark Knight Rises         Marion Cotillard
36  Christopher Nolan      03  The Dark Knight Rises           Morgan Freeman
37  Christopher Nolan      03  The Dark Knight Rises            Michael Caine
38  Christopher Nolan      03  The Dark Knight Rises           Matthew Modine
39  Christopher Nolan      03  The Dark Knight Rises           Alon Aboutboul
40  Christopher Nolan      03  The Dark Knight Rises           Ben Mendelsohn
41  Christopher Nolan      03  The Dark Knight Rises              Burn Gorman
42  Christopher Nolan      03  The Dark Knight Rises           Daniel Sunjata
43  Christopher Nolan      03  The Dark Knight Rises             Aidan Gillen
44  Christopher Nolan      03  The Dark Knight Rises              Sam Kennard
```

In [4]:
find_casting_of_batman_trilogy =\
"""
-- BEGIN SOLUTION
select director ,CASE WHEN title = "Batman Begins" THEN '01' WHEN title = "The Dark Knight" THEN '02' WHEN title = "The Dark Knight Rises" THEN '03' ELSE '04' END AS trilogy , title , name AS actor_name
from movies AS m
Join casting AS c on m.id = c.movie_id
Join actors AS a on c.actor_id = a.id
WHERE director = "Christopher Nolan"
Order by trilogy ASC
limit 45;
-- END SOLUTION
"""

## 04. Write a query that is able to find the 2 leading actors (whose `ord` are specified with 1 or 2) from movies directed by Steven Spielberg. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (12, 3) result.

```
                                            title  ord               name
0                                Schindler's List    1        Liam Neeson
1                                Schindler's List    2       Ben Kingsley
2                             Saving Private Ryan    1          Tom Hanks
3                             Saving Private Ryan    2       Tom Sizemore
4   Indiana Jones and the Raiders of the Lost Ark    1      Harrison Ford
5   Indiana Jones and the Raiders of the Lost Ark    2        Karen Allen
6              Indiana Jones and the Last Crusade    1      Harrison Ford
7              Indiana Jones and the Last Crusade    2       Sean Connery
8                                   Jurassic Park    1          Sam Neill
9                                   Jurassic Park    2         Laura Dern
10                            Catch Me If You Can    1  Leonardo DiCaprio
11                            Catch Me If You Can    2          Tom Hanks
```

In [5]:
find_leading_actors_from_steven_spielbergs_movies =\
"""
-- BEGIN SOLUTION
select title, ord , name
from movies AS m
Join casting AS c on m.id = c.movie_id
Join actors AS a on c.actor_id = a.id
WHERE director = "Steven Spielberg" AND (ord = "1" OR ord = "2")
-- END SOLUTION
"""

## 05. Write a query that is able to find players of Los Angeles Lakers and Brooklyn Nets with their career stats. Show the query result as specified.

- Expected inputs：a query string.
- Expected outputs：a (33, 5) result.

```
   tricode               player_name   ppg   rpg  apg
0      BKN         LaMarcus Aldridge  19.4   8.3  2.0
1      BKN              Kevin Durant  27.1   7.1  4.1
2      BKN                Jeff Green  12.8   4.4  1.6
3      BKN            DeAndre Jordan   9.4  10.6  1.0
4      BKN             Blake Griffin  21.3   8.7  4.4
5      BKN              James Harden  25.2   5.5  6.5
6      BKN              Kyrie Irving  22.8   3.8  5.7
7      BKN         Spencer Dinwiddie  12.9   2.8  5.0
8      BKN                Joe Harris  10.9   3.2  1.6
9      BKN             Tyler Johnson  10.0   3.1  2.3
10     BKN   Timothe Luwawu-Cabarrot   6.3   2.1  0.9
11     BKN               Bruce Brown   6.8   3.7  2.2
12     BKN             Alize Johnson   2.2   2.6  0.3
13     BKN             Landry Shamet   8.9   1.8  1.5
14     BKN             Chris Chiozza   4.1   1.4  2.6
15     BKN              Reggie Perry   4.1   3.9  0.9
16     BKN           Nicolas Claxton   6.6   3.8  0.9
17     LAL              LeBron James  27.0   7.4  7.4
18     LAL              Jared Dudley   7.3   3.2  1.5
19     LAL                Marc Gasol  14.2   7.4  3.4
20     LAL           Wesley Matthews  12.7   3.0  2.1
21     LAL           Markieff Morris  11.1   5.3  1.6
22     LAL             Anthony Davis  23.9  10.3  2.3
23     LAL            Andre Drummond  14.6  13.8  1.4
24     LAL           Dennis Schroder  14.2   2.9  4.6
25     LAL  Kentavious Caldwell-Pope  11.3   3.1  1.6
26     LAL          Montrezl Harrell  13.0   5.2  1.3
27     LAL               Alex Caruso   5.6   2.3  2.2
28     LAL          Alfonzo McKinnie   4.0   2.6  0.3
29     LAL                Kyle Kuzma  15.4   5.7  1.9
30     LAL      Kostas Antetokounmpo   1.1   1.0  0.1
31     LAL       Talen Horton-Tucker   7.6   2.4  2.1
32     LAL            Devontae Cacok   2.2   1.8  0.2
```

In [6]:
find_lakers_nets_career_stats =\
"""
-- BEGIN SOLUTION
select tricode, firstName || " " || lastName AS player_name , ppg, rpg , apg
from players AS p
Join career_summaries AS c on p.personId = c.personId
Join teams AS t on p.teamId = t.teamId
WHERE fullName = "Los Angeles Lakers" OR fullName = "Brooklyn Nets"
order by tricode ASC;
-- END SOLUTION
"""

## Run tests！

Kernel -> Restart & Run All -> Restart and Run All Cells.

In [7]:
class TestMidterm(unittest.TestCase):
    def test_01_summarize_daily_report_by_countries(self):
        daily_report_by_countries = pd.read_sql(summarize_daily_report_by_countries, conn)
        self.assertEqual(daily_report_by_countries.shape, (192, 3))
        countries = daily_report_by_countries.iloc[:, 0].values
        self.assertTrue('US' in countries)
        self.assertTrue('Brazil' in countries)
        self.assertTrue('India' in countries)
        self.assertTrue('France' in countries)
        self.assertTrue('Russia' in countries)
    def test_02_summarize_daily_report_of_us_by_states(self):
        daily_report_of_us_by_states = pd.read_sql(summarize_daily_report_of_us_by_states, conn)
        self.assertEqual(daily_report_of_us_by_states.shape, (20, 4))
        iso_three = set(daily_report_of_us_by_states.iloc[:, 0].values)
        self.assertTrue('USA' in iso_three)
        states = daily_report_of_us_by_states.iloc[:, 1].values
        self.assertTrue('California' in states)
        self.assertTrue('Texas' in states)
        self.assertTrue('Florida' in states)
        self.assertTrue('New York' in states)
        self.assertTrue('Illinois' in states)     
    def test_03_find_casting_of_batman_trilogy(self):
        casting_of_batman_trilogy = pd.read_sql(find_casting_of_batman_trilogy, conn)
        self.assertEqual(casting_of_batman_trilogy.shape, (45, 4))
        director = set(casting_of_batman_trilogy.iloc[:, 0].values)
        self.assertTrue('Christopher Nolan' in director)
        titles = set(casting_of_batman_trilogy.iloc[:, 2].values)
        self.assertTrue('Batman Begins' in titles)
        self.assertTrue('The Dark Knight' in titles)
        self.assertTrue('The Dark Knight Rises' in titles)
        actor_names = casting_of_batman_trilogy.iloc[:, 3].values
        self.assertTrue('Christian Bale' in actor_names)
        self.assertTrue('Heath Ledger' in actor_names)
        self.assertTrue('Anne Hathaway' in actor_names)
    def test_04_find_leading_actors_from_steven_spielbergs_movies(self):
        leading_actors_from_steven_spielbergs_movies = pd.read_sql(find_leading_actors_from_steven_spielbergs_movies, conn)
        self.assertEqual(leading_actors_from_steven_spielbergs_movies.shape, (12, 3))
        titles = leading_actors_from_steven_spielbergs_movies.iloc[:, 0].values
        self.assertTrue('Schindler\'s List' in titles)
        self.assertTrue('Catch Me If You Can' in titles)
        names = leading_actors_from_steven_spielbergs_movies.iloc[:, 2].values
        self.assertTrue('Liam Neeson' in names)
        self.assertTrue('Leonardo DiCaprio' in names)
        self.assertTrue('Tom Hanks' in names)
    def test_05_find_lakers_nets_career_stats(self):
        lakers_nets_career_stats = pd.read_sql(find_lakers_nets_career_stats, conn)
        self.assertEqual(lakers_nets_career_stats.shape, (33, 5))
        tricodes = set(lakers_nets_career_stats.iloc[:, 0].values)
        self.assertTrue('BKN' in tricodes)
        self.assertTrue('LAL' in tricodes)
        players = lakers_nets_career_stats.iloc[:, 1].values
        self.assertTrue('Kevin Durant' in players)
        self.assertTrue('James Harden' in players)
        self.assertTrue('Kyrie Irving' in players)
        self.assertTrue('LeBron James' in players)
        self.assertTrue('Anthony Davis' in players)
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestMidterm)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

test_01_summarize_daily_report_by_countries (__main__.TestMidterm) ... ok
test_02_summarize_daily_report_of_us_by_states (__main__.TestMidterm) ... ok
test_03_find_casting_of_batman_trilogy (__main__.TestMidterm) ... ok
test_04_find_leading_actors_from_steven_spielbergs_movies (__main__.TestMidterm) ... ok
test_05_find_lakers_nets_career_stats (__main__.TestMidterm) ... ok

----------------------------------------------------------------------
Ran 5 tests in 0.156s

OK

In [8]:
print("You've got {} points among {} questions.".format(number_of_successes * 3, number_of_test_runs))

You've got 15 points among 5 questions.